/* Custom Properties */
:root {
    /* Colors */
    --clr-black-solid: hsl(0,0%,0%);
    --clr-black-transparent: 0, 0, 0;
    --clr-grey-border: hsl(220,13%,91%);
    --clr-green-btn: hsl(92.4,20.4%,35.5%);

    /* Typograhy */
    --ff-Poppins: 'Poppins', sans-serif;
    --fw-regular-400: 400;
    --fw-semibold-600: 600;
}