/* Custom Properties */
:root {
    /* Colors */
    --clr-black-solid: hsl(0,0%,0%);
    --clr-black-transparent: 0, 0, 0;
    --clr-grey-border: hsl(220,13%,91%);
    --clr-btn: rgb(232, 172, 171);

    /* Typograhy */
    --ff-Poppins: 'Poppins', sans-serif;
    --fw-regular-400: 400;
    --fw-semibold-600: 600;
}