/* Custom Properties */
:root {
  /* Colors */
  --clr-black-solid: hsl(0,0%,0%);
  --clr-black-transparent: 0, 0, 0;
  --clr-grey-border: hsl(220,13%,91%);
  --clr-btn: rgb(232, 172, 171);
  /* Typograhy */
  --ff-Poppins: "Poppins", sans-serif;
  --fw-regular-400: 400;
  --fw-semibold-600: 600;
}

/* CSS Reset by Andy Bell (https://andy-bell.co.uk/a-modern-css-reset/) */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol, and li elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] ul,
ol,
li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Visually Hidden elements for sr-only!! */
.visually-hidden {
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

/* General Styling */
body {
  font-family: var(--ff-Poppins);
  font-weight: var(--fw-regular-400);
  min-height: 100vh;
  background-color: rgba(255, 229, 180, 0.8);
}

.card__container {
  display: grid;
  place-content: center;
}

.card__img {
  background-image: url(/images/background.jpg);
  background-position: right 60%;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__img-content {
  display: flex;
  margin: 2rem 0.5rem;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
}
.card__img-content a {
  color: hsl(0, 0%, 100%);
  font-weight: var(--fw-semibold-600);
  font-size: 1.6rem;
  text-decoration: none;
  transition: all 250ms ease-in-out;
}
.card__img-content a:hover {
  transform: scale(1.1);
}
.card__img-content .coffee-icon {
  width: 4.375rem;
}

.card__contents {
  display: grid;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 2rem;
  text-align: center;
  color: rgba(var(--clr-black-transparent), 0.8);
}

.card__form {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.5);
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.list-1,
.list-2,
.list-3 {
  margin: 1rem 0;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.form input:focus {
  border: 2px solid #e5e7eb;
  box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.5);
}
.form .error:invalid {
  border-color: red;
}
.form .error:valid {
  border-color: green;
}

.card__button {
  align-self: center;
  color: white;
  background-color: var(--clr-btn);
  margin: 1rem 5rem;
  max-width: 23rem;
  padding: 1rem;
  border: 0;
  border-radius: 10px;
  box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.5);
  transition: all 250ms ease-in-out;
  cursor: pointer;
}
.card__button:hover {
  transform: scale(1.1);
}

.card__login {
  font-weight: var(--fw-regular-400);
  margin-top: 1rem;
  text-align: center;
}
.card__login a {
  color: var(--clr-btn);
  text-decoration: none;
  font-weight: var(--fw-semibold-600);
}

@media screen and (min-width: 67.5rem) {
  /* Card Container Styling */
  .card__container {
    grid-template-columns: 1fr 1.9fr;
  }
  /* Card Image Styling */
  .card__img {
    background-position: left;
    max-width: 35vw;
    min-height: 100vh;
  }
  /* Card Image Content Styling */
  .card__img-content {
    flex-direction: row;
    gap: 1rem;
    margin-top: 3rem;
    margin-left: 5rem;
    /* Card Image Anchor Styling */
  }
  .card__img-content a {
    font-size: 2.5rem;
  }
  /* Card Contents Styling */
  .card__contents {
    display: flex;
    flex-direction: column;
    margin: 8rem 0;
  }
  .card__text {
    margin-left: 2rem;
    margin-bottom: 5rem;
    max-width: 60rem;
    font-size: 1.5rem;
  }
  .card__form {
    align-items: start;
  }
  .list-1,
  .list-2,
  .list-3 {
    flex-direction: row;
    gap: 4rem;
    margin-bottom: 1rem;
  }
  .card__button {
    align-self: self-start;
    padding: 0.9rem;
    margin: 1rem 3rem;
  }
}/*# sourceMappingURL=style.css.map */